<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Payment Method", payment_method_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Payout Method", payment_method_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Notification Settings", payment_method_path, class: "sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9"></div>
</div>